/* VARIABLES */
$bd-blue: #54b4d2;
$bd-magenta: #bb3794;
$bd-magenta-dk: #8c2577;
$brightblue: #1cc2ff;
$trans-white: rgba(255, 255, 255, 0.7);

body {
  background: $bd-blue;
}

.profile-card {
  display: block;
  background: $trans-white;
  border: 1px solid $bd-blue;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile-pic {
  border-radius: 10px;
  float: left;
}

.profile-info {
  margin-top: -10px;
  padding-left: 140px;
}

.phone {
  color: $brightblue;
}

.content {
  width: 960px;
  background: $trans-white;
}


#result {
  padding-top: 20px;
}

.header {
  color: #fff;
  margin-top: -20px;
  margin-bottom: 30px;
  padding: 30px;
  height: 400px;
  background-image: url('/img/homepage-header-400.jpg');
  background-size: 960px 400px;
  background-repeat: no-repeat;
}

.header h2 {
  font-weight: 100;
}

.logo {
  margin-top: 28px;
  width: 340px;
}

.tag {
  margin-top: 40px;
  width: 600px;
}

.form-group label {
  font-weight: 400;
}

.form-control {
  margin-top: -12px;
}

.btn {
    padding: 8px 14px;
    border: 0 none;
    letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-danger {
    background: $bd-magenta;
    color: #ffffff;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: $bd-magenta-dk;
}

.btn-danger:active, .btn-danger.active {
    background: #007299;
    box-shadow: none;
}
